<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Update the favicon to point to your photo (favicon.ico) -->
    <link rel="icon" href="/My_Photo.ico" type="image/x-icon" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- metaTitle %></title>

    <meta property="title" content="<%- metaTitle %>" />
    <meta name="description" content="<%- metaDescription %>" />

    <!-- Open Graph and Twitter metadata for social sharing -->
    <meta itemprop="name" content="<%- metaTitle %>" />
    <meta itemprop="description" content="<%- metaDescription %>" />
    <meta itemprop="image" content="/favicon.ico" /> <!-- Image for social sharing -->

    <meta property="og:title" content="<%- metaTitle %>" />
    <meta property="og:description" content="<%- metaDescription %>" />
    <meta property="og:image" content="/favicon.ico" /> <!-- Image for Open Graph -->
    <meta property="og:image:secure_url" content="/favicon.ico" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%- metaTitle %>" />
    <meta name="twitter:description" content="<%- metaDescription %>" />
    <meta name="twitter:image" content="/favicon.ico" /> <!-- Image for Twitter -->

  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
